
.color-red-dark {
  color: $red-dark !important;
}
.color-red {
  color: $red !important;
}
.color-red-light {
  color: $red-light !important;
}

.color-blue-dark {
  color: $blue-dark !important;
}
.color-blue {
  color: $blue !important;
}
.color-blue-light {
  color: $blue-light !important;
}

.color-gray-dark {
  color: $gray-dark !important;
}
.color-gray {
  color: $gray !important;
}
.color-gray-light {
  color: $gray-light !important;
}

.color-green-dark {
  color: $green-dark !important;
}
.color-green {
  color: $green !important;
}
.color-green-light {
  color: $green-light !important;
}
.color-lime {
  color: $lime !important;
}

.color-black {
  color: $black !important;
}
.color-black-light {
  color: $black-light !important;
}