// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font-Awesome
// $fa-font-path : 'vendor/omega/webfonts';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom
$red-dark : #B00B1E;    //BOOBIE
$red-light : #E66;      // EGG
$blue-dark : #1D1075;   // IDIOTS
$blue-light : #42C4D3;  // ARCADE
$green-dark: #1A5E25;   // LASERS
$green-light: #91EA5E;  // PLEASE
$lime: #BADA55;         // BADASS
$gray-dark : #666;      // 666
$gray : #999;           // 999
$gray-light : #BBC;     // BBC
$black-light : #222;    // 222
$black : #000;          // 000